.True {
  background-color: lightgreen;
}

.False {

  /* Should be salmon */
  background-color: white;
}

.columnButtonContainer {
  display: flex;
  border-radius: 0.375rem;
  margin-bottom: 8px;
  overflow-x: auto;
}

.columnButton{
  display: flex;
  border: 1px solid black;
  border-radius: 0.375rem;
}

.columnButtonLabel {
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 0.375rem;
}

.columnButtonText  {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  color: #fff;
  background-color: #a2a3a5;
  white-space: nowrap;
}

.columnButtonInput:checked + .columnButtonText{
  display: flex;
  flex-wrap: nowrap;
  background-color: #0076f5;
}

.columnButtonInput {
  position: absolute;
  display: none;
  color: #fff
}

