.People {
  width: 100%;
  height: calc(100vh - 56px);
  flex: 1;
}

h2 {
  margin-bottom: 1%;
}

li {
  margin-bottom: 5px;
}

.People-title {
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 10px;
  /* margin-right:auto; */
}

.Group {
  margin-bottom: 3%;
}

.People-description {
  margin-left: 15%;
  margin-right: 10%;
  font-size: 18px;
}