body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.debug {
  border: solid 1px black;
  margin: 3px;
  padding: 3px;
  background-color: lightgrey;
}

/* TODO: Switch to Bootstrap for the layout */
.sensdat-container {
  border: solid 1px black;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
  min-width: 1200px;
  min-height: 1200px;
  padding: 20px;
  margin: 40px;
}

.viz-container {
  grid-column: 1 / span 3;
  grid-row-start: 1;
  overflow: scroll;
}

/* State Container, along with it's child divs */
.state-container {
  grid-column: 4 / span 2;
  grid-row-start: 1;
  display: flex;  /* For vertically centering a "fixed" child component */
  align-items: center;
  position: relative;  /* For horizontally centering a "fixed" child component */
}

.create-state-container {
  position: absolute;
  /* Horizontal and vertical centering */
  margin: auto !important;
  width: 80%;
  left: 0;
  right: 0;
}

.new-state-container {
  float: left;
  width: 48%;
  height: 100%;
}

.existing-state-container {
  float: right;
  width: 48%;
  height: 100%;
}

.data-container {
  grid-column: 1 / span 3;
  grid-row-start: 2;
  overflow: scroll;
}

.tables-container {
  grid-column: 4 / span 2;
  grid-row-start: 2;
}

.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.def-visible {
  z-index: 2;
}
